/* reset */

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* end reset */

/* mobile */

/* custom properties mobile */

:root {
  --primary-bg-clr: rgba(40, 53, 59, 0.904);
  --second-bg-clr: hsl(26, 100%, 55%);
  --third-bg-color: hsl(25, 100%, 94%);
  --fourth-bg-color: hsl(215, 44%, 92%);
  --primary-font-clr: rgb(171, 203, 230);
  --secondary-font-clr: rgb(79, 123, 158);
  --third-font-clr: hsl(26, 100%, 55%);
  --fourth-font-clr: rgba(171, 203, 230, 0.5);
  --fourth-bg-clr: rgba(40, 53, 59, 0.904);
  --hdr-wdt: 90%;
  --col-info-padding: 1.25em;
  --primary-fw: 400;
  --secondary-fw: 700;
}

/* end custom properties */

body {
  position: relative;
  background-color: var(--primary-bg-clr);
  color: var(--primary-font-clr);
  font-family: "Kumbh Sans", sans-serif;
  padding-bottom: 4rem;
}

.body-filter {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5em;
  width: var(--hdr-wdt);
  margin-inline: auto;
}

.logo-tgl-box,
.menu--buyer {
  display: flex;
  gap: 1em;
}

.logo-tgl-box {
  align-items: center;
}

.toggle-menu {
  z-index: 3;
  width: 1.1em;
}

.logo__img {
  width: 95%;
}

.menu {
  display: none;
  position: absolute;
  z-index: 2;
  top: -1em;
  left: 0;
  min-height: 100vh;
  width: 70%;
  padding-left: 1.75rem;
  padding-top: 5.5em;
  background-color: var(--primary-bg-clr);
  color: var(--secondary-font-clr);
  transition: all 0.3s;
}

.menu--active {
  display: block;
}

.menu__item {
  padding-block: 0.75em;
}

.menu--buyer__img {
  width: 1.45em;
}

.product__img-col {
  position: relative;
}

.product__info-col {
  padding: var(--col-info-padding);
}

.product__thumbnails {
  display: none;
}

.product__img-arrow {
  position: absolute;
  /* top: 180px; */
  top: calc(50% - (2.75rem / 2));
  padding: 1em;
  background-color: var(--primary-bg-clr);
  border-radius: 50%;
  width: 2.75rem;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 10px;
}

.product__img-arrow--right {
  right: 1em;
  background-image: url(../images/icon-next.svg);
}

.product__img-arrow--left {
  right: 1em;
  background-image: url(../images/icon-previous.svg);
}

.product__img-arrow--left {
  left: 1.25em;
}

.product__sub-title {
  margin-top: 0.4em;
  color: var(--third-font-clr);
  font-weight: var(--primary-fw);
  font-size: 0.85rem;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  letter-spacing: 0.075rem;
}

.product__title {
  font-size: 1.8em;
  color: var(--secondary-font-clr);
  word-spacing: 0.25rem;
}

.product__text {
  line-height: 1.75rem;
}

.product__pricing {
  position: relative;
  margin-top: 1.25rem;
}

.product__pricing-first-row {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  color: var(--secondary-font-clr);
}

.produt__price {
  font-weight: var(--secondary-fw);
  font-size: 2em;
}

.product__percentage {
  padding-inline: 0.5rem;
  padding-block-start: 0.2rem;
  padding-block-end: 0.1rem;
  color: var(--primary-font-clr);
  background-color: var(--third-bg-color);
  color: var(--third-font-clr);
}

.product__percentage,
.old__price {
  font-size: 0.9em;
  font-weight: var(--secondary-fw);
}

.product__pricing-second-row {
  display: inline;
}

.old__price {
  position: absolute;
  right: 0;
  line-height: 2.4em;
  color: var(--fourth-font-clr);
  text-decoration: line-through;
}

.product__controls {
  margin-top: 1.75rem;
}

.product__change-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-inline: 1.5rem;
  background-color: var(--fourth-bg-color);
  border-radius: 5px;
}

.product__icon {
  padding: 0.5rem;
}

.product__amount {
  color: var(--second-font-clr);
  font-weight: var(--secondary-fw);
}

.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 3rem;
  border-radius: 5px;
  background-color: var(--second-bg-clr);
  color: var(--fourth-bg-clr);
}

.product__icon svg {
  fill: currentColor;
}

/* end mobile */

/* desktop */

@media (width > 1100px) {
  /* custom properties desktop */

  :root {
    --hdr-width: 60%;
  }

  /* end custom properties desktop */
  body {
    padding: 0;
  }

  .toggle-menu {
    display: none;
  }

  .toggle-menu,
  .product__thumbnail,
  .product__icon {
    cursor: pointer;
  }

  .header {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    height: min-content;
    width: 72.5%;
    gap: 3rem;
    border-bottom: 1px solid var(--fourth-font-clr);
  }

  .menu {
    position: static;
    display: flex;
    gap: 2rem;
    min-height: 0;
    padding-block: 2.75rem;
    padding-inline: 0;
    margin: 0;
    background-color: transparent;
    color: inherit;
  }

  .menu__item {
    padding: 0;
  }

  .menu--buyer {
    justify-content: end;
    align-items: center;
    gap: 2.5rem;
  }

  .menu--buyer__img {
    width: 2.5rem;
  }

  .menu--buyer__img--cart {
    width: 1.5rem;
  }

  .product {
    display: flex;
    align-items: center;
    gap: 6rem;
    width: 65%;
    margin-inline: auto;
    margin-block: 5rem;
  }

  .product__img-col,
  .product__info-col {
    flex-basis: 100%;
  }

  .product__img,
  .product__thumbnails img {
    border-radius: 5px;
  }

  .product__arrows {
    display: none;
  }

  .product__thumbnails {
    margin-top: 1.75rem;
    display: flex;
    gap: 1.5rem;
  }

  .product__thumbnail {
    width: calc(25% - (4.5rem / 4));
  }

  .product__info-col {
    padding: 0;
  }

  .product__sub-title {
    margin: 0;
  }

  .product__text {
    margin-top: 2rem;
  }

  .old__price {
    position: relative;
    display: block;
  }

  .product__controls {
    display: inline-block;
    width: 39%;
    margin: 0;
    margin-right: 0.5rem;
    margin-top: 2rem;
  }

  .product__button {
    display: inline-flex;
    width: calc(59% - 0.5rem);
    margin: 0;
    margin-top: 2rem;
    vertical-align: top;
  }

  .product__icon {
    padding: 0;
    vertical-align: top;
  }
}
